.full_seat{
    margin-left:24%;
    margin-right: 24%;
    margin-bottom: 50px
}


#choose_seat{
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 25px;
    font-weight: bold;
}
.chair_left {
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    text-align: center;
    border-right: grey dotted 1px;
}

.container {
    text-align: center;
}


.screen {
    background-color: rgb(227,227,227);
    height: 30px;
    width: 100%;
    margin: 20px auto;
    text-align: center;
}
.screen p{
    font-weight: bold;
    font-size: 20px;
}
.seats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seat {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
    padding: 15px;
    border: #ddd solid 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seat4 {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
    padding: 15px;
    border: rgb(255,192,0) solid 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: #28a745;
    border: #ddd solid 2px;
}

.seat3 {
    background-color: #ddd;
    position: relative;
    width: 30px;
    height: 30px;
    margin: 5px;
    margin-right: 15px;
    padding: 15px;
    border: #ddd solid 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat3::before,
.seat3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000; /* Màu của dấu chéo */
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}
.seat3::after {
    transform: translateY(-50%) rotate(-45deg);
}











.seat:hover {
    background-color: #28a745;
}

#bt_datve{
     margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}

#bt_datve:hover{
    background-color: orangered;
}

.chair_right{
    margin-left:1%;
}
.chair_right img{
    margin-bottom: 20px;
    width: 100%;
    height: 300px;
}
.chair_right p{
    color: rgb(116,119,112);
    font-size: 15px;
}
.chair_right label{
    color: rgb(116,119,112);
    font-size: 15px;
}
.chair_right b{
    color: rgb(116,119,112);
    font-size: 15px;
    text-decoration: none;
}
.infor_seat1 {
    width: 30px;
    height: 30px;
    padding: 15px;
    border: #ddd solid 2px;
}
.infor_seat2 {
    background-color: #28a745;
    width: 30px;
    height: 30px;
    padding: 15px;
    border: #ddd solid 2px;
}
.infor_seat3 {
    background-color: #ddd;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 15px;
    border: #ddd solid 2px;
}

.infor_seat3::before,
.infor_seat3::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000; /* Màu của dấu chéo */
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(45deg);
}

.infor_seat3::after {
    transform: translateY(-50%) rotate(-45deg);
}
.infor_seat4 {
    background-color: white;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 15px;
    border: rgb(255,192,0) solid 2px;
}
.back_film{
    margin-top: 4%;
    width: 100%;
    height: 50px;
    background-color: rgb(205,193,151);
    padding-top: 12px;
    align-items: center;
}
.back_film a{
    margin-left: 5px;
    color: rgb(111,98,71);
    font-size: 20px;
    align-items: center;
}
.back_film a:hover{
    margin-left: 5px;
    color: rgb(111,98,71);
    font-size: 20px;
    align-items: center;
}