#register{
    margin-left: -80px;
    width: 1300px;
    padding-bottom: 2%;
}
.form_register{
    clear: both;
    border: solid 1px rgb(209, 209, 209);
    padding: 3% 5%;
    border-radius: 5px;
    background-color: ghostwhite;
}

#submit_register{
    margin-top: 3%;
}

#submit_register input{
    text-align: center;
    background-color: rgb(124, 146, 170);
    width: 170px;
    background-color: rgb(124, 146, 170);
    color: white;
    font-weight: 700;
    border: solid 1px white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
}
#submit_register input:hover{
    background-color: rgb(235, 77, 0);
}

.register{
    margin-right: 10%;
    margin-bottom: 3%;
}
.register p{
    margin-bottom: -0.05%;
    font-size: 15px;
}
.register input{
    width: 120%;
    height: 35px;
    border:solid 2px rgb(209, 209, 209);
    border-radius: 5px;
    font-size:90%;
}

.register_radio{
    margin-bottom: -0.05%;
    font-size: 15px;
    margin-right: 10%;
}
.register_radio p{
    margin-bottom: -0.05%;
    font-size: 15px;
}

.address_register{
    margin-right: 10%;
    margin-bottom: 3%;
}
.address_register p{
    margin-bottom: -0.05%;
    font-size: 15px;
}

.checkbox{
    margin-left: 2.5%;
    margin-bottom: 3%;
    margin-bottom: -0.05%;
    font-size: 15px;
}

.checkbox label a {
    color: red;
}
.checkbox label a:hover {
    color: blue;
}



/* Chỉnh sửa CSS cho phân trang */
.bottom-content {
    width: 1300px;
    background-color: #e8e8e8;
    padding: 20px;
}

.product-table-wrapper {
    max-height: 300px;
    overflow-y: auto;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.product-table th,
.product-table td {
    border: none;
    padding: 10px;
    text-align: left;
}

.product-table th {
    background-color: #4CAF50; /* Green */
    color: white;
}

/* CSS for even rows */
.product-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Light gray */
}
/* CSS cho các nút */
.add-button,
.update-button,
.add-button-large,
.update-button-large{
    width: 120px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px 0;
}

.add-button,.add-button-large {
    background-color: #FF5733; /* Màu đỏ */
}

.update-button,.update-button-large {
    background-color: #007BFF; /* Màu xanh */
}
.add-button-large,
.update-button-large{
    width: fit-content;
}

/* Hover effect */
.add-button:hover,
.update-button:hover {
    opacity: 0.8;
}
.select-btn {
    border-radius: 5px;
    border: 2px solid #c2c0c0;
    width: 120%;
    height: 35px;
}

/* Ẩn các nút phân trang khi không cần thiết */