

.container {
    max-width: 600px;
}

.movie-container {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.movie {
    display: flex;
    padding: 15px;
}

.contain-movie {
    display: flex;
    align-items: center;
    border: none;
}

.movie-image {
    width: 120px;
    height: 180px;
    border-radius: 8px;
    margin-right: 15px;
    object-fit: cover;
}

.movie-details {
    flex: 1;
}

.movie-details h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

.movie-details p {
    font-size: 14px;
    margin-bottom: 3px;
    color: #555;
}
.button-ticket a{
    text-decoration: none;
    background-color: #ffffff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.button-ticket {
    border: none;
    background: none;
    padding: 0;
    width: 100%;
}

.button-ticket a {
    display: block;
    text-decoration: none;
    padding: 0;
}

.button-ticket a .contain-movie {
    position: relative;
}

.button-ticket a:hover .contain-movie::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(174, 171, 171, 0.2);
    border-radius: 8px;
    z-index: 1;
}

.button-ticket a:hover .contain-movie {
    z-index: 2;
}

.movie-image {
    width: 80%;
    border-radius: 8px;
    margin-right: 35px;
    object-fit: cover;
}
.movie-contain-img {
    width: 25%;
}
.movie-details {
    flex: 1;
    z-index: 3;
    position: relative;
    color: #000000;
}
.movie-details h4{
    color: red; 
    padding-bottom: 3px;    
}
.movie-details h5 {
    font-weight: bold;
    margin-bottom: 3px;
    margin-top: -10px;
}

.movie-details p {
    font-size: 14px;
    margin-bottom: 0px;
    color: black;
}

.time {
    padding: 10px 0;
    color: #4a437e;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 700;
}

.time span {
    font-weight: 400;
    color: rgb(190, 187, 187);
}
.movie-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.movie-info {
    margin: 5px 0;
}